*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: " Fraunces ", sans-serif;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.container {
  width: 1279px;
  margin: 0 auto;
  padding: 0 20px;
}