.about-us-hero {
    background-image: url(../images/about-us-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 450px;
  }
  .about-us-hero-left {
    width: 445px;
    margin: 0;
    padding: 136px 85px;
  }
  .about-us-header {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7;
  }
  .about-us-desc {
    width: 445px;
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
  }