.heaadquarters {
    width: 1085px;
    padding: 168px 20px;
  }
  .heaadquarters-header {
    margin: 0;
    margin-bottom: 72px;
    padding: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  .heaadquarters-box,
  .heaadquarters-list {
    width: 1085px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
  }
  .heaadquarters-list {
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .heaadquarters-items {
    width: 285px;
    margin: 0;
    margin-left: -30px;
    margin-right: 95px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .heaadquarters-items-header {
    width: 272px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
  }
  .heaadquarters-items-address, .heaadquarters-items-tel{
    width: 115px;
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    font-style: normal;
  }
  .kingdom::before{
    content: url(../images/kingdom.png);
    padding-bottom: 46px;
  }
  .canada::before{
    content: url(../images/canada.png);
    padding-bottom: 45px;
  }
  .australia::before{
    content: url(../images/australia.png);
    padding-bottom: 48px;
  }